BasedOnStyle: Microsoft
AlignAfterOpenBracket: false
ColumnLimit: 0
NamespaceIndentation: All
FixNamespaceComments: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Right
IndentPPDirectives: BeforeHash
BreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: Always
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: DontAlign
ContinuationIndentWidth: 4
IndentCaseLabels: true
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Attach
AllowShortCaseLabelsOnASingleLine: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always

ForEachMacros:
  - ZCL_BITSET_WALK_ALL_SET
  - ZCL_BITSET_WALK_ALL_UNSET
  - ZCL_STR_WALK
  - ZCL_STR_WALK_REVERSE

SortIncludes:
  Enabled: false
